
.OuterWrapperAbout {

    height: 100vh;
    background-image: url('../../Images/America-min.jpg');
    background-size: cover;
    color: white;

    .aboutWrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 20px;
        min-width: 500px;
        max-width: 900px;
        padding-bottom: 40px;
        padding-top: 40px;
        background-color: rgba(0,0,0,0.7);

        .fullform {
            color: white;
        }

        h1 {
            font-size: 40px;
            font-weight: normal;
            color: white;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 30px;
            font-weight: normal;
            color: white;
        }

        .aboutText {
            color: white;
            text-align: justify;
            padding-left: 30px;
            padding-right: 30px;
        }

        .gridItem {
            padding: 8px;
            .personCard {
                padding: 5px;
                background-color: #323232;
            }
        }
    }
}