
.OuterWrapperAbout {

    // height: 100vh;
    background-image: url('../../Images/America-min.jpg');
    background-size: cover ;
    color: white;

    .aboutWrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 20px;
        min-width: 500px;
        max-width: 900px;
        padding-bottom: 40px;
        // padding-top: 40px;
        background-color: rgba(0,0,0,0.7);

        .fullform {
            color: white;
        }

        h1 {
            font-size: 40px;
            font-weight: normal;
            color: white;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        h2 {
            font-size: 30px;
            font-weight: normal;
            color: white;
        }

        .aboutText {
            color: white;
            text-align: justify;
            padding-left: 30px;
            padding-right: 30px;
        }

        .navigationButtons {
            background-color: transparent;
            margin-top: 10px;
            margin-left: 25px;
            padding: 0;
        }

        .gridItem {
            padding: 8px;
            .personCard {
                padding: 5px;
                background-color:transparent;

                .headShot {
                    width: 150px;
                    height: 150px;
                    border-radius: 10px;
                }

                .name {
                    color: white;
                    margin-bottom: 2px;
                    margin-top: 5px;
                    font-size: 18px;
                }

                .designation {
                    margin-top: 0;
                    color: white;
                    margin-bottom: 0;
                }

                .linkIcons {
                    color: white;
                    margin: 5px;
                    font-size: 25px;
                }

                .linkIcons:hover {
                    cursor: pointer;
                }
            }
        }
    }
}