.grid-container {
    height: 100%;
    padding: 4px;

    .grid-container-sub {
        height: 100%;
        padding: 0px;
    }
}

.top-row {
    height: 60%;
}

.bottom-row {
    height: 40%;
}

.grid-item {
    padding: 6px;
    max-height: 100%;

    .grid-item-sub {
        padding-left: 0px;        
        padding-right: 0px;       
        max-height: 100%; 
    }    
}

.paperContainer {
    height: 100%;
    width: 100%;
    display: flow-root;
    // margin: 10px;
}