.mainMap {

    height: 100%;

    .button {
        position: absolute;        
        margin: 5px;
        font-size: 25px;
        color: #1976d2;

        :hover {
            cursor: pointer;
        }
    }

    .bottom-button {        
        margin: 35px 5px 5px 5px;        
    }

    .below-bottom {
        margin: 65px 5px 5px 5px;
    }

    .heat-map-legend {
        position: absolute;
        margin-top: -200px;
        margin-left: 8px;
    }

    .legend-outer-div {
        margin-left: 1px;
    &:hover {
        cursor: pointer;
        }

    }
    
}