.news-card-container {

    background-color: #f6f6f6;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;

    h4 {
        margin: 5px;
        display: flex;
        font-weight: 500;

        .icon {
            margin-left: auto;
        }
    }

    p {
        margin: 5px;
    }
}