.profileWrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    min-width: 500px;
    padding-bottom: 40px;

    h1 {
        padding: 10px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .propic {
        margin-left: auto;
        margin-right: auto;
    }

    .name {
        font-size: 20px;
        margin-top: 10px;
    }
}