.mainToolbar {
    min-height: 0px !important;
    max-height: 50px !important;    
}

.menuName {
    display: inline-block;
    margin-right: 8px !important;
    font-size: 14px !important;
    font-weight: normal !important;
}